@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=DM+Sans:wght@400;500&family=Dancing+Script:wght@400;500;700&family=Inter:wght@400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
}

#box-menu {
    width: 100%;
    height: 320px;
    padding: 0;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #106DA5;
    padding: 20px;
}

.listado {
    width: 100%;
    margin: auto;
    display: flex;
    gap: 40px;
}

.item {
    list-style: none;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}